
<div class="widget pure-u-1 pure-u-md-1-3" id="widget-{{ Id }}">
  <div class="widget-contents {{ Color }}">
    <h2>{{ Title }} </h2>
    <h3>{{ Subtitle }}</h3>  
    <p>{{ Content }}</p>
    <h5>{{ Time }} </h5>
  </div>
</div>

